@import './shared/variables.scss';
:root {
  background-color: $lighBlue;
  font-synthesis: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
